/* From Uiverse.io by Fernando-sv */
.container{
    background:#b6d9e8b9;
    height: 100vh;
    width: 100vw;
    position:fixed;
    top: 0;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appear 1s ease-in-out;
}

.containerLoader{
    width: 90vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loader {
  border: 4px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  border-radius: 50%;
}

.loader {
  border: 4px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
}

.loader {
  border: 4px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}