.wedding-container {
  text-align: center;
  background-color: white;
  position: relative;
  width: 100%;
}
.flowers {
  position: relative;
  background-image: url('../../assets/flowers.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  width: 100%;
  height: 180px; /* Ajustalo según tu imagen */
  margin: 0 auto;
  overflow: hidden; /* asegura que nada se escape */
}

.flowers::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* altura del fade */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.973) 0%,
    transparent 100%
  );
  pointer-events: none; /* no molesta clicks */
}

.date{
  background-image: url('../../assets/date.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 60px; /* Ajustalo según tu imagen */
  width: 100px;
}

/* Contenido */
.wedding-info {
  margin-top: -40px; /* sube los nombres para que queden más cerca de las flores */
}

/* Nombres */
.namesTitle {
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  margin: 0;
}

/* Fecha */
.wedding-date {
  font-family: "Marcellus SC", serif;
  font-size: 1.2rem;
  margin-top: 8px;
  letter-spacing: 2px;
}
