@import "tailwindcss";

:root{
  --primary: #004AAD;
}

@theme{
    --color-blueP : oklch(0.4365 0.1709 259.21);
    --font-Marcellus:  "Marcellus SC", serif;
    --font-Inria: "Inria Serif", serif;
    --font-Obaby: "Oooh Baby", cursive;
}